{% extends "base.html" %}
{% block title %} About {% endblock %}

{% block content %}
    <a class="btn btn-info m-3" href="{{ url_for('management')}}">
        <i class="fa fa-arrow-left" aria-hidden="true"></i>
        Voltar
    </a>
    <a class="btn btn-success m-3" href="{{ url_for('user_add_book', id=user.id) }}">
        <i class="fa fa-plus" aria-hidden="true"></i>
        Livro
    </a>
    
    <ul class="list-group m-3">
        <li class="list-group-item">
            <i class="fa fa-user" aria-hidden="true"></i>
            {{ user.id }}
        </li>
        <li class="list-group-item">
            <i class="fa fa-address-card" aria-hidden="true"></i>
            {{ user.name }}
        </li>
        <li class="list-group-item">
            <i class="fa fa-envelope" aria-hidden="true"></i>
            {{ user.email }}
        </li>
    </ul>
    <a class="btn btn-danger m-3" href="{{ url_for('user_delete', id=user.id) }}">
        <i class="fa fa-trash" aria-hidden="true"></i>
        Deletar
    </a>
    <div class="m-3">
        <h2 class="text-muted">Books:</h2>
        <ul class="list-group">
            {% for book in user.books %}
                <li class=" list-group mt-2">
                    <i class="fa fa-book" aria-hidden="true"> {{ book.name }} </i>
                    
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
