{% extends "base.html" %}
{% block title %} About {% endblock %}

{% block navegation %}
    {% if current_user.is_authenticated %}
        <a class="nav-item nav-link" href="{{ url_for('logout') }}">Sair</a>
    {% endif %}
{% endblock %}

{% block content %}
    <a class="btn btn-info m-3" href="{{ url_for('management')}}">
        <i class="fa fa-arrow-left" aria-hidden="true"></i>
        Voltar
    </a>
    <ul class="list-group m-3">
        <li class="list-group-item">ID => {{ user.id }}</li>
        <li class="list-group-item">Name => {{ user.name }}</li>
        <li class="list-group-item">Email => {{ user.email }}</li>
    </ul>
    <a class="btn btn-danger m-3" href="{{ url_for('user_delete', id=user.id) }}">
        <i class="fa fa-trash" aria-hidden="true"></i>
        Deletar
    </a>
{% endblock %}
